html {
    height: 98%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

body {
    font-size: 7em;
}

@media screen and (max-height: 850px) {
    body {
        font-size: 3em;
    }
}

@media screen and (max-height: 350px) {
    body {
        font-size: 1em;
    }
}

div#undoToggle {
    font-size: .5em;
}

@media screen and (max-width: 800px) {
    div#undoToggle {
        font-size: .3em;
    }
}

.maxHeight {
    height: 100%;
}

div.markColumn {
    float: left;
    width: 40%;
}

div.labelColumn {
    float: left;
    width: 20%;
}

div.cell {
    height: 12%;
    border-style: solid;
    border-width: thin;
    text-align: center;
    line-height: 1em;
}

div.userPositive {
    background-color: yellow;
}

div.userNegative {
    background-color: red;
}

div.automata {
    background-color: blue;
}
