html {
    height: 98%
}

body {
    height: 100%;
    font-size: 7em
}

@media screen and (max-height: 850px) {
    body {
        font-size:3em
    }
}

@media screen and (max-height: 350px) {
    body {
        font-size:1em
    }
}

div#header {
    font-size: .7em;
    height: 16.6666%
}

@media screen and (max-width: 800px) {
    div#header {
        font-size:.3em
    }
}

div.hcell {
    float: left;
    width: 32.8%;
    height: 100%;
    border-style: solid;
    border-width: thin;
    text-align: center;
    line-height: 1em;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none
}

div.column {
    float: left;
    width: 50%;
    height: 83.3333%
}

div.cell {
    height: 20%;
    border-style: solid;
    border-width: thin;
    text-align: center;
    line-height: 1em;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none
}

div.hits {
    background-color: yellow
}

div#undo {
    background-color: red
}

div#done {
    background-color: blue
}